@page
@model Frontend.Pages.StorageModel
@{
}

@{
    ViewData["Title"] = "Storage";
}

<h1>Storage System</h1>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Items)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Title</td>
                <td>@product.Amount</td>
            </tr>
        }
    </tbody>
</table>
<!-- Form that reloads the page when pressed via get request -->

<form method="get">
    <button type="submit" border="1">
        Refresh
    </button>
</form>
